In [1]:
#Q1  Write a code to reverse a string?

In [2]:
string="pwskills"
string[::-1]

'sllikswp'

In [3]:
#Q2 Write a code to count the number of vowels in string?

In [4]:
string="Data Science"
count=0
for i in string.lower():
    if i in "aeiou":
        count=count+1
print(count)

5

In [5]:
#Q3 Write a code to check if a given string is pallindrome or not?

In [6]:
string="civic"
if string!=string[::-1]:
    print("Not a Pallindrome")
else:
    print("Pallindrome")

Pallindrome

In [7]:
#Q4 Write a code to check if two given strings are anagrams of each other?

In [8]:
str1="heart"
str2="earth"
list1=[i for i in str1]
list2=[j for j in str2]
if sorted(list1)==sorted(list2):
    print("Anagrams")
else:
    print("Not Anagrams")

Anagrams

In [9]:
#Q7 Write a code to determine if a string has all unique character?

In [10]:
str1="pwskills"
list=[i for i in str1]
for i in list:
    if list.count(i)>1:
        print("Not a Unique String")
        break

Not a Unique String

In [11]:
#Q8 Write a code to convert a given string to uppercase or lowercase?

In [12]:
str1="pwskills"
str1.upper()

'PWSKILLS'

In [13]:
str1.lower()

'pwskills'

In [14]:
#Q9 Write a code to count the number of words in a string?

In [15]:
string="oneplus"
len(string)

7

In [16]:
#Q10 Write a code to concatenate two string without using the + operator?

In [17]:
str1="Hello"
str2="World"
str1,str2

('Hello', 'World')

In [18]:
#Q11 Write a code to remove all occurrence of a specific elements from a list?

In [19]:
list=[1,3,2,4,5,2,2,2]
set={i for i in list}
set.remove(2)
set

{1, 3, 4, 5}

In [20]:
#Q12  Implement a code to find the second largest number in a given list of integer?

In [21]:
list=[3,2,1,8,9]
sorted(list)
list[-2]

8

In [22]:
#Q13 Create a code to count the occurrences of each element ina list and return a dictionary with elementsas keys and their counts as values?

In [23]:
list1=[6,4,2,6,"anuj","pw","anuj"]
list2=[list1.count(i) for i in list1]
{i:j for i,j in zip(list1,list2)}

{6: 2, 4: 1, 2: 1, 'anuj': 2, 'pw': 1}

In [24]:
#Q14 Write a code to reverse a list in-place without using any built-in reverse functions?

In [25]:
list=[1,2,3,4]
start=0
end=len(list)-1
while start<end:
    list[start],list[end]=list[end],list[start]
    start=1
    end-=1
list

[4, 3, 2, 1]

In [26]:
#Q15 Implement a code to find and remove duplicates from a list while preserving the original orderof elements?

In [27]:
list=[1,2,7,"anuj",2,1,"anuj"]
[i for i in list if list.count(i)>1]#To find duplicates

[1, 2, 'anuj', 2, 1, 'anuj']

In [28]:
{i for i in list} #To remove duplicates

{1, 2, 7, 'anuj'}

In [29]:
#Q16 Create a code to check if a given list is sorted (either in ascending or descending order)? or not

In [30]:
list=[5,3,2,9]
list2=sorted(list)
if list==list2:
    print("Sorted")
else:
    print("Not Sorted")

Not Sorted

In [31]:
#Q17 Write a code to merge two sorted lists into a single sorted list?

In [32]:
list1=[1,3,4,5,6]
list2=[8,9,10,11]
list1.extend(list2)
sorted(list1)

[1, 3, 4, 5, 6, 8, 9, 10, 11]

In [33]:
#Q18 Implement a code to find the intersection of two given lists?

In [34]:
list1=[1,3,5,7]
list2=[2,3,8,1,9]
set1={i for i in list1}
set2={j for j in list2}
[set1&set2]

[{1, 3}]

In [35]:
#O19 Create a code to find the union of two lists without duplicates?

In [36]:
list1=[1,2,3,4]
list2=[3,4,5,6]
set1={i for i in list1}
set2={j for j in list2}
set1|set2

{1, 2, 3, 4, 5, 6}

In [37]:
#Q20 Write a code to shuffle a given list randomly without using any built-in shuffle functions?

In [38]:
list=[1,3,2,"anuj","pw"]
{i for i in list} #I use set to shuffle it randomly

{1, 2, 3, 'anuj', 'pw'}

In [39]:
#Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples?

In [46]:
t1=tuple(input("Write first tuple"))
t2=tuple(input("Write second tuple"))
set1={i for i in t1}
set2={j for j in t2}
t3=(set1&set2)
t3

Write first tuple 123
Write second tuple 234

{'2', '3'}

In [41]:
#Q22  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets?

In [88]:
set1={3,6,7,2,"pw"}
set2={6,2,"pw","data"}
(set1&set2)

{2, 6, 'pw'}

In [51]:
#Q23 Write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples?

In [52]:
t1=input("Write tuple 1")
t2=input("Write tuple 2")
(t1+t2)

Write tuple 1 1 1 3 5 7
Write tuple 2 2 2 5 6 6

'1 1 3 5 72 2 5 6 6 '

In [53]:
#Q24  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set?

In [54]:
str1=input("Write String 1")
str2=input("Write String 2")
set1={i for i in str1}
set2={j for j in str2}
set1-set2

Write String 1 anuj
Write String 2 anup

{'j'}

In [55]:
#Q25 Create a code that takes a tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices?

In [56]:
t1=(1,2,3,4,9,22)
i1=int(input("Write first integer"))
i2=int(input("Write second integer"))
for i in t1:
    if i1<=i<=i2:
        print(i,end=" ")

Write first integer 1
Write second integer 8

1 2 3 4

In [57]:
#Q26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets?

In [87]:
set1={4,2,9,"anuj"}
set2={5,3,2,"pw"}
set1|set2

{2, 3, 4, 5, 9, 'anuj', 'pw'}

In [59]:
#Q27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking?

In [60]:
t1=tuple(input("Write tuple"))
print("max value="+max(t1)+" "+"min value="+min(t1))

Write tuple 12357

max value=7 min value=1

In [61]:
#Q28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets?

In [62]:
set1={2,4,5,7,8}
set2={1,3,5,7,9}
print(set1&set2) #intersection
print(set1|set2) #union
print(set1-set2) #difference

{5, 7}
{1, 2, 3, 4, 5, 7, 8, 9}
{8, 2, 4}

In [63]:
#Q29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple?

In [65]:
t1=(1,3,5,7,2,3)
element=int(input("Write element"))
t1.count(element)

Write element 3

2

In [66]:
#Q30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets?

In [86]:
set1={2,4,5,8}
set2={6,3,2,9}
(set1^set2)

{3, 4, 5, 6, 8, 9}

In [68]:
#Q31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list?

In [69]:
lis=(input("words"))
{i:lis.count(i) for i in lis}

words pwskills

{'p': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [70]:
#Q32  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together?

In [71]:
d1={"a":100,"b":200,"c":300}
d2={"a":400,"d":100,"c":100}
new_dict=d2
for i,j in d1.items():
    if i in d2:
        new_dict[i]=j+d2[i]
    else:
        new_dict[i]=j
new_dict

{'a': 500, 'd': 100, 'c': 400, 'b': 200}

In [72]:
#Q33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None&?

In [73]:
d1=dict.fromkeys(("a","b","c"),(1,2,3)) #nested dictionary
lis=input("Enter list of keys")
for i,j in d1.items():
    if i in lis:
        print(j)
    else:
        print("key do not exist")

Enter list of keys "a" 1 "c"

(1, 2, 3)
key do not exist
(1, 2, 3)

In [74]:
#Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending or

In [75]:
enteries=int(input("Enter number of enteries"))
dict={}
for i in range(enteries):
    key=input("Enter key")
    value=input("Enter value")
    dict[key]=value
lis=[i for i in dict.keys()]
{j:dict[j] for j in sorted(lis)} #sorting on basis of key,  Sorry but I am not able to make logic on basis of sorting using values

Enter number of enteries 2
Enter key "cd"
Enter value 5
Enter key "ab"
Enter value 2

{'"ab"': '2', '"cd"': '5'}

In [76]:
#Q35 Writeacodethatinvertsadictionary,swappingkeysandvalues.Ensurethattheinverteddictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary?

In [77]:
dict={"ab":12,"bc":34,"pq":98}
new_dict={}
for i,j in dict.items():
    new_dict[j]=i
new_dict

{12: 'ab', 34: 'bc', 98: 'pq'}

In [78]:
#Q6 Write a code to perform basic string compression using the counts of repeated characters?

In [79]:
string="aabbccccccdcccaaa"
lis=[i for i in string]
dict={i:lis.count(i) for i in lis}
for i,j in dict.items():
    print(i,end="")
    print(j,end="")

a5b2c9d1

In [80]:
#I am not able to understand Q5 ---Write a code to find all occurrences of a given substring within another string?